
/*
	Generic
	----------------------------------- */
	
	.clearfix:after, .group:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .clearfix, * html .group { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix, *:first-child+html .group { zoom: 1; } /* IE7 */