<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/combined.min.css' }}">
    <title>BRP Preview</title>
</head>
<body>

	{{{ yield }}}

	<script src="{{ path '/project.webpacked.js' }}"></script>
</body>
</html>